/*#region Package information*/
#packageInfoHeader{
    position: fixed;
    top: 5%;
    left: 3%;
}

#carrierSelect{
    position: fixed;
    top: 10%;
    left: 3%;
    width: 25%;
}

#inputPackageWeight {
    position:fixed;
    top: 17%;
    left: 3%;
    width: 25%;
}
/*#endregion*/

/*#region Starting address*/
#startingAddressHeader {
    position: fixed;
    top: 5%;
    left: 32%;
}
#inputStartingAddressLine1 {
    position: fixed;
    top: 10%;
    left: 32%;
    width: 30%;
}

#inputStartingAddressLine2 {
    position: fixed;
    top: 17%;
    left: 32%;
    width: 30%;
}

#inputStartingCity {
    position: fixed;
    top:24%;
    left: 32%;
    width: 30%
}

#inputStartingZip {
    position: fixed;
    top: 31%;
    left: 32%;
    width: 30%;
}

#inputStartingArea {
    position: fixed;
    top: 38%;
    left: 32%;
    width:30%;
}
/*#endregion*/

/*#region Destination address*/
#destinationAddressHeader{
    position: fixed;
    top: 5%;
    left: 65%
}
#inputDestinationAddressLine1 {
    position: fixed;
    top: 10%;
    left: 65%;
    width: 30%;
}

#inputDestinationAddressLine2 {
    position: fixed;
    top: 17%;
    left: 65%;
    width: 30%;
}

#inputDestinationCity {
    position: fixed;
    top:24%;
    left: 65%;
    width: 30%
}

#inputDestinationZip {
    position: fixed;
    top:31%;
    left: 65%;
    width: 30%
}

#inputDestinationArea {
    position: fixed;
    top: 38%;
    left: 65%;
    width:30%;
}
/*#endregion*/

#btnCalculate {
    position: fixed;
    top: 50%;
    left: 50%;
}

h2{
    position:fixed;
    top:60%;
    left: 45%;
}

hr{
    position: fixed;
    color: black;
    top: 65%;
    width: 100%;
    border: 1px solid grey;
}
/*#region Results section*/
#ratesDisplay{
    position : fixed;
    top: 69%;
    width : 87%;
    height : 25%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

#ratesDisplay > div {
    flex: 0 1 auto;
    background-color: #f1f1f1;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}
/*#endregion*/