<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipping Cost Estimator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<!--#region Package information -->

<form action="#" th:action="@{/saveShipmentMap}" method="POST">
    <div id="packageInfoDiv" th:object="${packageInfo}">
        <h4 id="packageInfoHeader">Package Information</h4>
        <div class="input-group mb-3" id="inputPackageLength">
            <div class="input-group-prepend">
                <span class="input-group-text">Length (in)</span>
            </div>
            <input type="text" placeholder="" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{length}">
        </div>
        <div class="input-group mb-3" id="inputPackageWidth">
            <div class="input-group-prepend">
                <span class="input-group-text">Width (in)</span>
            </div>
            <input type="text" placeholder="" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{width}">
        </div>
        <div class="input-group mb-3" id="inputPackageHeight">
            <div class="input-group-prepend" >
                <span class="input-group-text">Height (in)</span>
            </div>
            <input type="text" placeholder="" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{height}">
        </div>
        <div class="input-group mb-3" id="inputPackageWeight">
            <div class="input-group-prepend">
                <span class="input-group-text">Package Weight (oz)</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
                   name="weight"
                   th:field="*{weight}">
        </div>
    <!--#endregion Package Information -->

    <!--#region Starting Address -->
    <div id="startingAddressDiv" th:object="${fromAddress}">
        <h4 id="startingAddressHeader">Starting address</h4>
        <!--Starting address line 1 input-->
        <div class="input-group mb-3" id="inputStartingAddressLine1">
            <div class="input-group-prepend">
                <span class="input-group-text">Address line 1</span>
            </div>
            <input type="text" placeholder="Street and number" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{fromStreetOne}">
        </div>

        <!--Starting address line 2 input-->
        <div class="input-group mb-3" id="inputStartingAddressLine2">
            <div class="input-group-prepend">
                <span class="input-group-text">Address line 2</span>
            </div>
            <input type="text" placeholder="Apartment/Suite" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{fromStreetTwo}">
        </div>

        <!--Starting city input-->
        <div class="input-group mb-3" id="inputStartingCity">
            <div class="input-group-prepend">
                <span class="input-group-text">City</span>
            </div>
            <input type="text" placeholder="City" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{fromCity}">
        </div>

        <!--Starting city input-->
        <div class="input-group mb-3" id="inputStartingZip">
            <div class="input-group-prepend">
                <span class="input-group-text">Zip Code</span>
            </div>
            <input type="text" placeholder="Zip Code" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{fromZip}">
        </div>

        <!--Starting State/Province/Region input-->
        <div class="input-group mb-3" id="inputStartingArea">
            <div class="input-group-prepend">
                <span class="input-group-text">State/Province/Region</span>
            </div>
            <input type="text" placeholder="State/Province/Region" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{fromState}">
        </div>
    </div>
    <!--#endregion Starting Address -->

    <!--#region Destination Address -->
    <div id="destinationAddressDiv" th:object="${toAddress}">
        <h4 id="destinationAddressHeader">Destination address</h4>
        <!--Destination address line 1 input-->
        <div class="input-group mb-3" id="inputDestinationAddressLine1">
            <div class="input-group-prepend">
                <span class="input-group-text">Address line 1</span>
            </div>
            <input type="text" placeholder="Street and number" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{toStreetOne}">
        </div>

        <!--Destination address line 2 input-->
        <div class="input-group mb-3" id="inputDestinationAddressLine2">
            <div class="input-group-prepend">
                <span class="input-group-text">Address line 2</span>
            </div>
            <input type="text" placeholder="Apartment/Suite" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{toStreetTwo}">
        </div>

        <!--Destination city input-->
        <div class="input-group mb-3" id="inputDestinationCity">
            <div class="input-group-prepend">
                <span class="input-group-text">City</span>
            </div>
            <input type="text" placeholder="City" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{toCity}">
        </div>

        <!--Destination Zip Code input-->
        <div class="input-group mb-3" id="inputDestinationZip">
            <div class="input-group-prepend">
                <span class="input-group-text">Zip Code</span>
            </div>
            <input type="text" placeholder="Zip Code" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{toZip}">
        </div>

        <!--Destination State/Province/Region input-->
        <div class="input-group mb-3" id="inputDestinationArea">
            <div class="input-group-prepend">
                <span class="input-group-text">State/Province/Region</span>
            </div>
            <input type="text" placeholder="State/Province/Region" class="form-control" aria-describedby="basic-addon1"
                   th:field="*{toState}">
        </div>
    </div>
    <!--#endregion Destination Address -->

    <button type="submit" class="btn btn-secondary btn-lg" id="btnCalculate">Calculate</button>
</form>
<p/>
<h2>Rates</h2>
<div id="ratesDisplay">
    <div th:each="rate : ${rates}">
        <p th:text="${'Carrier: ' + rate.getCarrier()}"></p>
        <p th:text="${'Service level: ' + rate.getService()}"></p>
        <p th:text="${'Est delivery days: ' + rate.getEstDeliveryDays()}"></p>
        <p th:text="${'Cost: $' + rate.getRate()}"></p>
    </div>
</div>
<hr>
</body>
</html>
